@font-face {
    font-family: 'z_regular';
    src: url(z_regular.TTC);
  }
  @font-face {
    font-family: 'z_light';
    src: url(z_light.TTC);
  }
  @font-face {
    font-family: 'z_semi';
    src: url(z_semibold.TTC);
  }
  @font-face {
    font-family: 'z_bold';
    src: url(z_bold.TTC);
  }