body {
    background-color:#121517;
    margin:0px;
}
div#body {
    background: radial-gradient(#23282c, #0c0d0e);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100%;
    margin:0px;
    min-height: 1000px;
}
div#card {
    max-width:600px;
    width:100%;
    background-color: #fdf1f0;
    margin: auto;
    vertical-align:top;
    border-radius: 35px;
    padding-top:15px;
}
div#navbar {
    padding-top: 8px;
    max-width:600px;
    width:100%;
    margin: auto;
}
.img_width {
    width:100%;
    object-fit: cover;
    aspect-ratio : 2 / 1;
}
.img_center {        
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 25px;
}
.imgbox {
    width:100%;
    max-width: 450px;
    object-fit: cover;
    aspect-ratio : 1 / 1.2;
    border-radius: 20px;
}
h1 {
    font-family: 'Lato-Black', sans-serif;
    font-size: 30pt;
    color:black;
    text-align: center;
    margin:0px;
}
h2 {
    font-family: 'Lato-Black', sans-serif;
    font-size: 22pt;
    color:#464242;
    text-align: center;
    margin-top:0px;
    margin-bottom: 14px;
}
p {
    font-family: 'Noto', sans-serif;
    font-size: 14pt;
    font-weight: normal;
    color:#464242;
    text-align: justify;
    margin-top:0px;
    margin-bottom: 14px;   
    padding-top:16px;
    padding-left:20px;
    padding-right:20px;
}
th, td { font-size: 14pt; font-weight: normal;}
.navtitle {
    font-family: 'Lato', sans-serif;
    color:#7a9b9e;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 50px;
    font-size: 24px;
    margin-right:15px;
    margin-bottom:12px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
a {text-decoration: none;}
.button-1 {
    background-color: #334d64;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Noto' sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 40px;
}

.button-1:hover,
.button-1:focus {
    background-color: #348e90;
}